@import '../../common/index.scss';

@include b(button) {
    position: relative;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    @include utils-user-select(none);

    border: $--border-base;
    border-color: $--button-default-border-color;
    background-color: $--button-default-fill;
    color: $--button-default-color;
    @include button-size($--button-font-size, $--button-border-radius, $--button-padding-vertical, $--button-padding-horizontal, $--button-padding-round-horizontal);

    &+& {
        margin-left: 10px;
    }

    &:focus,
    &:hover {
        color: $--color-primary;
        border-color: $--color-primary;
        background-color: $--color-primary-lighter;
    }

    &:active {
        color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
        border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
        outline: none;
    }

    @include when(disabled) {
        @include share-rule(dis) {
            cursor: not-allowed;
            color: $--button-disabled-color;
            border-color: $--button-disabled-border-color;
            background-color: $--button-disabled-fill;
        }

        &,
        &:focus,
        &:hover {
            @include extend-rule(dis);
        }

        &.is-plain {

            &,
            &:focus,
            &:hover {
                @include extend-rule(dis);
            }
        }
    }

    @include when(round) {
        border-radius: 20px;
    }

    @include when(circle) {
        border-radius: 50%;
    }

    @include when(plain) {

        &:focus,
        &:hover {
            color: $--color-primary;
            border-color: $--color-primary;
            background-color: $--color-white;
        }

        &:active {
            background-color: $--color-white;
            color: mix($--color-black, $--color-primary, 10%);
            border-color: mix($--color-black, $--color-primary, 10%);
            outline: none;
        }
    }

    @include when(lang) {
        width: 100%;
    }

    @include when(click) {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: inherit;
            border: 0 solid rgba($--color-primary, .4);
            animation: fadeEffect 1s cubic-bezier(.08, .82, .17, 1), waveEffect .4s cubic-bezier(.08, .82, .17, 1);
            animation-fill-mode: forwards;
            display: block;
            pointer-events: none
        }

        @keyframes waveEffect {
            100% {
                top: -6px;
                left: -6px;
                bottom: -6px;
                right: -6px;
                border-width: 6px
            }
        }

        @keyframes fadeEffect {
            100% {
                opacity: 0;
            }
        }
    }

    @include m(primary) {
        @include button-variant($--button-primary-color,
        $--button-primary-fill,
        $--button-primary-border-color);
    }

    @include m(success) {
        @include button-variant($--button-success-color,
        $--button-success-fill,
        $--button-success-border-color);
    }

    @include m(warning) {
        @include button-variant($--button-warning-color,
        $--button-warning-fill,
        $--button-warning-border-color);
    }

    @include m(danger) {
        @include button-variant($--button-danger-color,
        $--button-danger-fill,
        $--button-danger-border-color);
    }

    @include m(info) {
        @include button-variant($--button-info-color,
        $--button-info-fill,
        $--button-info-border-color);
    }

    @include m(text) {
        border-color: transparent;
        color: $--color-primary;
        background: transparent;
        padding: $--button-padding-horizontal $--button-padding-text-horizontal;

        &:focus,
        &:hover {
            color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
            background-color: transparent;
            border-color: transparent;
        }

        &:active {
            color: mix($--color-black, $--color-primary, $--button-hover-tint-percent);
            background-color: transparent;
            border-color: transparent;
            outline: none;
        }

        &.is-disabled,
        &.is-disabled:hover,
        &.is-disabled:focus {
            border-color: transparent;

            &.is-plain {
                border-color: transparent;
            }

        }

        &.is-plain,
        &.is-plain:hover,
        &.is-plain:focus {
            border-color: transparent;
        }
    }

    @include m(medium) {
        @include button-size($--button-medium-font-size, $--button-medium-border-radius, $--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-padding-round-horizontal);
    }

    @include m(small) {
        @include button-size($--button-small-font-size, $--button-small-border-radius, $--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-padding-round-horizontal);
    }
}