@import '../../common/index.scss';

@include b(button) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    @include utils-user-select(none);

    border: $--border-base;
    border-radius: $--border-radius-base;
    border-color: $--button-default-border-color;
    background: $--button-default-fill;
    color: $--button-default-color;
    padding: $--button-padding-vertical $--button-padding-horizontal;
    @include utils-font-size($--button-font-size);

    &+& {
        margin-left: 10px;
    }

    &:focus,
    &:hover {
        color: $--color-primary;
        border-color: $--color-primary;
        // background-color: $--color-primary-lighter;
    }

    &:active {
        color: mix($--color-black, $--color-primary, 10%);
        border-color: mix($--color-black, $--color-primary, 10%);
        outline: none;
    }

    @include when(disabled) {

        &,
        &:focus,
        &:hover {
            cursor: not-allowed;
            color: $--button-disabled-color;
            border-color: $--button-disabled-border-color;
            background-color: $--button-disabled-fill;
        }
    }
}