@import '../../common/index.scss';

@include b(radio) {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    color: $--radio-color;
    line-height: 1;
    white-space: nowrap;
    margin-right: 30px;
    @include utils-font-size($--radio-font-size);
    @include utils-user-select(none);

    &:last-child {
        margin-right: 0;
    }

    @include e(input) {
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;

        @include when(disabled) {
            .js-radio__inner {
                border-color: $--radio-disabled-input-border-color;
                background: $--radio-disabled-input-fill;
                cursor: not-allowed;

                &::after {
                    cursor: not-allowed;
                    background-color: $--radio-disabled-inner-color;
                }
            }

            &+.js-radio__label {
                color: $--radio-disabled-text-color;
                cursor: not-allowed;
            }

            &.is-checked {
                .js-radio__inner {
                    border-color: $--radio-disabled-input-border-color;
                    background: $--radio-disabled-input-fill;
                    cursor: not-allowed;

                    &::after {
                        cursor: not-allowed;
                        background-color: $--radio-disabled-checked-inner-color;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                &+.js-radio__label {
                    cursor: not-allowed;
                    color: $--radio-disabled-text-color;
                }
            }
        }

        @include when(checked) {
            .js-radio__inner {
                border-color: $--radio-checked-input-border-color;
                background: $--radio-checked-input-fill;

                &::after {
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            &+.js-radio__label {
                color: $--radio-checked-text-color;
            }
        }
    }

    @include e(inner) {
        border: $--radio-input-border;
        border-radius: $--radio-input-border-radius;
        width: $--radio-input-width;
        height: $--radio-input-height;
        background-color: $--radio-input-fill;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;

        &:hover {
            border-color: $--radio-input-border-color-hover;
        }

        &::after {
            width: 8px;
            height: 8px;
            border-radius: $--radio-input-border-radius;
            background-color: $--radio-checked-inner-color;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform .15s ease-in;
        }
    }

    @include e(original) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        outline: none;
        z-index: -1;
        opacity: 0;
    }

    @include e(label) {
        padding-left: 6px;
        @include utils-font-size($--radio-font-size);
    }

    @include when(disabled) {
        cursor: not-allowed;
    }

    @include when(button) {
        float: left;
        border: $--radio-button-border;
        @include button-size($--radio-button-font-size, $--radio-button-border-radius, $--radio-button-padding-vertical, $--radio-button-padding-horizontal);

        &+.js-radio {
            margin-left: 0;
        }

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:not(:last-child) {
            margin-right: -1px;
        }

        &:focus,
        &:hover,
        &:active {
            .js-radio__label {
                color: $--radio-button-text-color-hover;
            }
        }

        .js-radio__input {
            display: none;
        }

        .js-radio__label {
            padding-left: 0;
        }

        @include when(disabled) {
            background: $--radio-button-disabled-fill;

            &:focus,
            &:hover,
            &:active {
                .js-radio__label {
                    color: $--radio-disabled-text-color;
                }
            }
        }

        @include when(checked) {
            z-index: 1;
            border-color: $--radio-button-checked-border-color;
            background: $--radio-button-checked-fill;
            transition: all .3s cubic-bezier(.645, .045, .355, 1);

            .js-radio__label {
                color: $--radio-button-checked-color;
            }

            &.is-disabled {
                border-color: $--radio-button-disabled-checked-border-color;
                background: $--radio-button-disabled-checked-fill;

                .js-radio__label {
                    color: $--radio-button-disabled-checked-text-color;
                }
            }
        }
    }

    @include m(medium) {
        &.is-button {
            @include button-size($--radio-button-medium-font-size, $--radio-button-medium-border-radius, $--radio-button-medium-padding-vertical, $--radio-button-medium-padding-horizontal);
        }
    }

    @include m(small) {
        &.is-button {
            @include button-size($--radio-button-small-font-size, $--radio-button-small-border-radius, $--radio-button-small-padding-vertical, $--radio-button-small-padding-horizontal);
        }
    }
}