@import '../../common/index.scss';

@include b(radio-group) {
    display: inline-block;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;

    @include when(vertical) {
        .js-radio {
            display: block;
            line-height: 30px;
            height: 30px;
        }
    }
}