@import '../../common/index.scss';

@include b(radio-group) {
    display: inline-block;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;

    @include when(vertical) {
        .js-radio {
            display: block;
            line-height: 30px;
            height: 30px;
        }
    }

    @include when(button) {
        .js-radio {
            float: left;
            border: $--radio-button-border;
            @include button-size($--radio-button-font-size, $--radio-button-border-radius, $--radio-button-padding-vertical, $--radio-button-padding-horizontal);

            &+.js-radio {
                margin-left: 0;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:not(:last-child) {
                margin-right: -1px;
            }

            &:focus,
            &:hover,
            &:active {
                z-index: 1;
            }
        }

    }

    @include m(medium) {
        @include button-size($--radio-button-medium-font-size, $--radio-button-medium-border-radius, $--radio-button-medium-padding-vertical, $--radio-button-medium-padding-horizontal);
    }

    @include m(small) {
        &.is-button {

            .js-radio {
                color: red;
                @include button-size($--radio-button-small-font-size, $--radio-button-small-border-radius, $--radio-button-small-padding-vertical, $--radio-button-small-padding-horizontal);
            }
        }
    }
}