@import './config.scss';

/* BEM
 --------------------- */

@mixin b($block) {
    $B: $namespace + $block-separator + $block !global;
    @debug $B;

    .#{$B} {
        @content;
    }
}


@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: #{$selector + $element-separator + $element};
    @debug $currentSelector;

    @at-root {
        #{$selector} {
            #{$currentSelector} {
                @content;
            }
        }
    }
}


@mixin m($modifier) {
    $selector: &;
    $currentSelector: #{$selector + $modifier-separator + $modifier};
    @debug $currentSelector;

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @debug #{$state-prefix + $state};
            @content;
        }
    }
}